# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.2
language: objective-c
cache: cocoapods
podfile: Example/Podfile
before_install:
- brew update
- gem install cocoapods
- gem install xcpretty -N
- pod install --project-directory=Example
script:
#- set -o pipefail && xcodebuild -workspace Example/Andea.xcworkspace -scheme Andea-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint --sources=https://github.com/CocoaPods/Specs.git,https://github.com/dpostigo/pods --fail-fast

